@{
    Layout = "_GameLayout";

    Country country = (Country)ViewData["country"];

    ViewData["Title"] = "Finance and Trade dashboard";
    ViewData["PageName"] = "Finance and Trade dashboard";
}

<h1>Pages</h1>
<ul>
    <li><h3><a href="/Game/FinanceAndTradeDashboard/Budget">Ministerial budget</a></h3></li>
</ul>