@{
    if (ViewData["userLoggedIn"] == null)
    {
        ViewData["userLoggedIn"] = false;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GovSim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link nav-a" href="/Home/PrivacyPolicy">Privacy policy</a></li>
                @if ((bool)ViewData["userLoggedIn"])
                {
                    <li class="nav-item"><a class="nav-link nav-a" href="/">Go to game</a></li>
                    <li class="nav-item"><a class="nav-link nav-a" href="/Auth/LogOut">Log out</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link nav-a" href="/Auth/Register">Register</a></li>
                    <li class="nav-item"><a class="nav-link nav-a" href="/Auth/LogIn">Log in</a></li>
                }
            </ul>
        </nav>
        <h1 id="govsim-text"><a href="/">GovSim</a></h1>
    </header>
    <br />
    <main>
        @RenderBody()
    </main>

    <style>
        body {
            font-family: 'Roboto Slab', serif;
        }

        #govsim-text {
            margin-top: 10px;
            margin-left: 10px;
            text-align: left;
            font-family: 'Arvo', serif;
            font-size: 60px;
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
