@{ 
    if (ViewData["userLoggedIn"] == null)
    {
        ViewData["userLoggedIn"] = false;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Government Game</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto Slab', serif;">
    <header>
        <nav>
            <ul class="nav justify-content-end">
                @if ((bool)ViewData["userLoggedIn"])
                {
                    <li class="nav-item"><a class="nav-link underline-a" href="/Auth/SignOut">Log out</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link underline-a" href="/Auth/Register">Register</a></li>
                    <li class="nav-item"><a class="nav-link underline-a" href="/Auth/LogIn">Log in</a></li>
                }
            </ul>
        </nav>
        <h1 style="margin-top: 10px; margin-left: 10px; text-align: left; font-family: 'Arvo', serif; font-size: 60px;"><a href="/">Government Game</a></h1>
    </header>
    <br />
    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
