@{ 
    Layout = "_GameLayout";

    Country country = (Country)ViewData["country"];

    ViewData["Title"] = "Prime Minister dashboard";
    ViewData["PageName"] = "Prime Minister dashboard";
}

<h1>Pages</h1>
<ul>
    <li><h3><a href="/Game/PrimeMinisterDashboard/MinistryManagement">Ministry management</a></h3></li>
</ul>