@{
    Layout = "_GameLayout";

    Country country = (Country)ViewData["country"];

    ViewData["Title"] = "Ministry management";
    ViewData["PageName"] = "Ministry management";

    Ministry[] ministries = (Ministry[])ViewData["ministries"];
}

<h1>Ministries</h1>
<br />
<hr />
<ul style="list-style: none;" class="no-margin-ul">
    @foreach (Ministry ministry in ministries)
    {
        @if (ministry.Code == Ministry.MinistryCode.PrimeMinister) continue;
        @if (ministry.MinisterPublicUser != null)
        {
            <li class="ministry-li" id="ministry-li-@ministry.Code.ToString("g")">
                <img src="~/images/ministries/@(ministry.ImageFileName)" height="175" style="grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 5;" />
                <h3 style="grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2; margin-left: 20px;">Minister: @ministry.MinisterPublicUser.Username</h3>
                <h4 style="grid-column-start: 2; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3; margin-left: 20px;">(User ID: @ministry.MinisterPublicUser.UserId)</h4>
                <button onclick="dismissMinister('@ministry.Code.ToString("g")')" style="grid-column-start: 2; grid-column-end: 3; grid-row-start: 3; grid-row-end: 4; margin-left: calc(20px + 50px); margin-top: 20px; width: 200px;">Dismiss minister</button>
            </li>
        }
        else
        {
            <li class="ministry-li" id="ministry-li-@ministry.Code.ToString("g")">
                <img src="~/images/ministries/@(ministry.ImageFileName)" height="175" style="grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 5;" />
                <h3 style="grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2; margin-left: 20px;">No minister</h3>
                <button onclick="location.href = '/Game/PrimeMinisterDashboard/InviteNewMinister?minister=@(ministry.Code.ToString("g"))'" style="grid-column-start: 2; grid-column-end: 3; grid-row-start: 3; grid-row-end: 4; margin-left: calc(20px + 50px); margin-top: 20px; width: 200px;">Invite new minister</button>
            </li>
        }
        <hr />
    }
</ul>
<br />

<style>
    .ministry-li {
        margin-bottom: 10px;
        margin-right: 50px;
        display: grid;
        grid-template-columns: 350px auto;
        margin-left: 20px;
    }
</style>

@section Scripts{ 
    <script>
    function dismissMinister(minister) {
        var ministryLi = document.getElementById(`ministry-li-${minister}`)
        ministryLi.getElementsByTagName("h3")[0].innerHTML = "No minister"
        ministryLi.getElementsByTagName("button")[0].onclick = function () { location.href = `/Game/PrimeMinisterDashboard/InviteNewMinister?minister=${minister}` }
        ministryLi.getElementsByTagName("button")[0].innerHTML = "Invite new minister"
        ministryLi.removeChild(ministryLi.getElementsByTagName("h4")[0])

        $.post(`/Game/DismissMinister?minister=${minister}`, function (data, status) {
            if (data != "success") {
                location.reload()
            }
        })
    }
    </script>
}