@{
    Layout = "_GameLayout";

    Country country = (Country)ViewData["country"];
    string ministerId;
    string invitedMinisterId;

    ViewData["Title"] = "Ministry management";
    ViewData["PageName"] = "Ministry management";
}

<h1>Ministries</h1>
<br />
<hr />
<ul style="list-style: none;" class="no-margin-ul">
    @foreach (MinistryHelper.MinistryCode ministryCode in Enum.GetValues(typeof(MinistryHelper.MinistryCode)))
    {
        @if (ministryCode == MinistryHelper.MinistryCode.PrimeMinister || ministryCode == MinistryHelper.MinistryCode.None) continue;
        ministerId = country.GetMinisterIdByCode(ministryCode);
        invitedMinisterId = country.GetInvitedMinisterIdByCode(ministryCode);
        <li class="ministry-li" id="ministry-li-@ministryCode.ToString("g")" style="margin-bottom: 10px; margin-right: 50px; display: grid; grid-template-columns: 350px auto; margin-left: 20px; cursor: pointer;" onclick="location.href = '/Game/PrimeMinisterDashboard/ViewMinistry?ministry=@ministryCode'">
            <img src="~/images/ministries/@(MinistryHelper.MinistryCodeToMinistryImageFileName(ministryCode))" height="175" style="grid-column-start: 1; grid-column-end: 2;" />
            <div style="align-items: center; margin-left: 20px; position: relative;">
                <h3>
                    @if (ministerId != "none")
                    {
                        <text>Minister: @MongoDBHelper.UsersDatabase.GetPublicUser(ministerId).Username</text>
                    }
                    else
                    {
                        if (invitedMinisterId != "none")
                        {
                            <text>Invitation sent to: @MongoDBHelper.UsersDatabase.GetPublicUser(invitedMinisterId).Username</text>
                        }
                        else
                        {
                            <text>No minister</text>
                        }
                    }
                </h3>
                <p style="position: absolute; bottom: 0;">(Click to see more)</p>
            </div>
        </li>
        <hr />
    }
</ul>
<br />

@section Scripts{
    <script>
        function dismissMinister(minister) {
            var okPressed = confirm("Are you sure you want to dismiss this minister?")

            if (!okPressed) return

            var ministryLi = document.getElementById(`ministry-li-${minister}`)
            ministryLi.getElementsByTagName("h3")[0].innerHTML = "No minister"
            ministryLi.getElementsByTagName("button")[0].onclick = function () { location.href = `/Game/PrimeMinisterDashboard/InviteNewMinister?minister=${minister}` }
            ministryLi.getElementsByTagName("button")[0].innerHTML = "Invite new minister"

            $.post(`/Game/DismissMinister?minister=${minister}`, function (data, status) {
                if (data != "success") {
                    alert(data)
                    location.reload()
                }
            })
        }

        function cancelMinistryInvite(ministry) {
            var ministryLi = document.getElementById(`ministry-li-${ministry}`)
            ministryLi.getElementsByTagName("h3")[0].innerHTML = "No minister"
            ministryLi.getElementsByTagName("button")[0].onclick = function () { location.href = `/Game/PrimeMinisterDashboard/InviteNewMinister?minister=${ministry}` }
            ministryLi.getElementsByTagName("button")[0].innerHTML = "Invite new minister"

            $.post(`/Game/CancelMinistryInvite?ministry=${ministry}`, function (data, status) {
                if (data != "success") {
                    alert(data)
                    location.reload()
                }
            })
        }
    </script>
}