@{
    Layout = "_GameLayout";

    Country country = (Country)ViewData["country"];
    MinistryHelper.MinistryCode ministryCode = (MinistryHelper.MinistryCode)ViewData["ministryCode"];
    string ministerId = country.GetMinisterIdByCode(ministryCode);
    string invitedMinisterId = country.GetInvitedMinisterIdByCode(ministryCode);

    ViewData["Title"] = "View ministry";
    ViewData["PageName"] = "View ministry";
}

<img src="~/images/ministries/@MinistryHelper.MinistryCodeToMinistryImageFileName(ministryCode)" height="200" />
<br />
<br />
@if (ministerId != "none")
{
    <h2 id="minister">Minister: @MongoDBHelper.UsersDatabase.GetPublicUser(ministerId).Username</h2>
    <button id="minister-button" onclick="dismissMinister('@ministryCode.ToString("g")')">Dismiss minister</button>
}
else
{
    if (invitedMinisterId != "none")
    {
        <h2 id="minister">Invitation sent to: @MongoDBHelper.UsersDatabase.GetPublicUser(invitedMinisterId).Username</h2>
        <button id="minister-button" onclick="cancelMinistryInvite('@ministryCode.ToString("g")')">Cancel invite</button>
    }
    else
    {
        <h2 id="minister">No minister</h2>
        <button id="minister-button" onclick="location.href = '/Game/PrimeMinisterDashboard/InviteNewMinister?minister=@(ministryCode.ToString("g"))'">Invite new minister</button>
    }
}

<style>
    #minister {
        display: inline;
    }

    #minister-button {
        width: 200px;
        vertical-align: super;
        margin-left: 20px;
    }
</style>

@section Scripts {
    <script>
        var ministerHeading = document.getElementById("minister")
        var ministerButton = document.getElementById("minister-button")

        function dismissMinister() {
            var okPressed = confirm("Are you sure you want to dismiss this minister?")

            if (!okPressed) return

            ministerHeading.innerHTML = "No minister"
            ministerButton.onclick = function () { location.href = `/Game/PrimeMinisterDashboard/InviteNewMinister?minister=@ministryCode.ToString("g")` }
            ministerButton.innerHTML = "Invite new minister"

            $.post(`/Game/DismissMinister?minister=@ministryCode.ToString("g")`, function (data, status) {
                if (data != "success") {
                    alert(data)
                    location.reload()
                }
            })
        }

        function cancelMinistryInvite() {
            ministerHeading.innerHTML = "No minister"
            ministerButton.onclick = function () { location.href = `/Game/PrimeMinisterDashboard/InviteNewMinister?minister=@ministryCode.ToString("g")` }
            ministerButton.innerHTML = "Invite new minister"

            $.post(`/Game/CancelMinistryInvite?ministry=@ministryCode.ToString("g")`, function (data, status) {
                if (data != "success") {
                    alert(data)
                    location.reload()
                }
            })
        }
    </script>
} 