@{
    ViewData["Title"] = "Home";
}

<h3>Create a country, or become a minister in an existing one. Then, govern, conduct diplomacy, and if push comes to shove...declare war.</h3>
<br />
<button onclick="location.href = '/Auth/Register'">Start your career today!</button>