@{
    ViewData["Title"] = "Privacy policy";
}

<h1>Privacy policy</h1>
<br />
<h3>Data we collect</h3>
<p>When you register for an account, Government Game ("we") records your email address to prevent spam. By creating an account on this website you agree to this data being collected.</p>
<h3>Third-party services we use</h3>
<p>We use <a href="https://firebase.google.com/products/auth">Firebase Authentication</a> to authenticate users and keep accounts secure. By creating an account on this website you agree to your data being processed through this service.</p>