#create-a-country-text {
    text-align: center;
}

#country-form {
    text-align: center;
}

#country-name-text {
    font-size: small;
}

#flag-div {
    display: inline-block;
    width: 250px;
}

#flagImg {
    border: 1px solid black;
}
