@{
    Layout = "_GameLayout";

    PublicUser publicUser = (PublicUser)ViewData["publicUser"];

    Country country = (Country)ViewData["country"];

    ViewData["Title"] = "Country dashboard";
    ViewData["PageName"] = "Country dashboard";
}

<h1>Country overview</h1>
<!--
<div id="map-div">
    <h2>Map</h2>
    <div id="inner-map-div">
        <img id="country-map-img" src="/Image/OwnCountryMapCropped" style="max-width: 75%;" />
        <p id="loading-country-map-p">Loading map...</p>
    </div>
</div>
-->
<br />
<br />

<h1>Go to a ministerial dashboard:</h1>
<br />
<ul id="ministry-list">
    @if (publicUser.HasAccessToMinistry(MinistryHelper.MinistryCode.PrimeMinister))
    {
        <li class="ministry-li">
            <a href="/Game/PrimeMinisterDashboard">
                <img src="~/images/ministries/@MinistryHelper.MinistryCodeToMinistryImageFileName(MinistryHelper.MinistryCode.PrimeMinister)" height="175" />
            </a>
        </li>
    }
    @if (publicUser.HasAccessToMinistry(MinistryHelper.MinistryCode.Interior))
    {
        <li class="ministry-li">
            <a href="/Game/InteriorDashboard">
                <img src="~/images/ministries/@MinistryHelper.MinistryCodeToMinistryImageFileName(MinistryHelper.MinistryCode.Interior)" height="175" />
            </a>
        </li>
    }
    @if (publicUser.HasAccessToMinistry(MinistryHelper.MinistryCode.FinanceAndTrade))
    {
        <li class="ministry-li">
            <a href="/Game/FinanceAndTradeDashboard">
                <img src="~/images/ministries/@MinistryHelper.MinistryCodeToMinistryImageFileName(MinistryHelper.MinistryCode.FinanceAndTrade)" height="175" />
            </a>
        </li>
    }
    @if (publicUser.HasAccessToMinistry(MinistryHelper.MinistryCode.ForeignAffairs))
    {
        <li class="ministry-li">
            <a href="/Game/ForeignAffairsDashboard">
                <img src="~/images/ministries/@MinistryHelper.MinistryCodeToMinistryImageFileName(MinistryHelper.MinistryCode.ForeignAffairs)" height="175" />
            </a>
        </li>
    }
    @if (publicUser.HasAccessToMinistry(MinistryHelper.MinistryCode.Defence))
    {
        <li class="ministry-li">
            <a href="/Game/DefenceDashboard">
                <img src="~/images/ministries/@MinistryHelper.MinistryCodeToMinistryImageFileName(MinistryHelper.MinistryCode.Defence)" height="175" />
            </a>
        </li>
    }
</ul>

<style>
    .ministry-li {
        margin-bottom: 30px;
    }

        .ministry-li > img:hover {
            cursor: pointer;
        }

    #ministry-list {
        list-style: none;
    }
</style>

@section Scripts
{
    <script>
        document.getElementById("country-map-img").addEventListener("load", function () {
            document.getElementById("loading-country-map-p").remove()
        })
    </script>
}