@{
    ViewData["Title"] = "Create a country";
}

<h1 id="create-a-country-text">Create a country</h1>
<br />
<form id="country-form" method="post" action="/Game/CreateACountryPOST">
    <label for="country-name">Country name:</label>
    <input type="text" name="country-name" id="country-name" />
    <br />
    <label id="country-name-text" for="country-name">(include prefixes such as "The" or "The Republic of")</label>
    <br />
    <label for="capital-name">Capital name:</label>
    <input type="text" name="capital-name" id="capital-name" />
    <br />
    <label for="flag">Flag:</label>
    <img src="~/images/dice.png" width="30" onclick="randomiseFlag()" />
    <div id="flag-div">
        <img src="~/images/flags/default.png" height="125" id="flagImg" />
    </div>
    <br />
    <br />
    <!--
    <label for="map" style="font-size: xx-large;">Choose a location:</label>
    <br />
    <canvas id="map-canvas"></canvas>
    <br />
    <br />
    -->
    <button type="button" onclick="formSubmitted()">Create country</button>
    <br />
    <br />
</form>

<style>
    #create-a-country-text {
        text-align: center;
    }

    #country-form {
        text-align: center;
    }

    #country-name-text {
        font-size: small;
    }

    #flag-div {
        display: inline-block;
        width: 250px;
    }

    #flagImg {
        border: 1px solid black;
    }
</style>

@section Scripts {
    <script src="~/js/Game/CreateACountry.js"></script>
}