@{
    Layout = "_GameLayout";

    User user = (User)ViewData["user"];

    Country country = (Country)ViewData["country"];

    ViewData["Title"] = "Home";
    ViewData["PageName"] = "Home";
}

<button id="country-dashboard-button" onclick="location.href = '/Game/CountryDashboard'">Go to your country dashboard</button>
<br />
<br />
<h1>News</h1>

<style>
    #country-dashboard-button {
        font-size: xx-large
    }
</style>