@{
    Layout = "_GameLayout";

    User user = (User)ViewData["user"];

    Country country = (Country)ViewData["country"];

    ViewData["Title"] = "Home";
    ViewData["PageName"] = "Home";
}

<button id="country-dashboard-button" onclick="location.href = '/Game/CountryDashboard'">Go to your country dashboard</button>
<br />
<br />
<h1>News</h1>

@section Styles
{
    <link rel="stylesheet" href="~/css/Game/Home.css" />
} 