@{ 
    Layout = "_GameLayout";

    Notification[] notifications = (Notification[])ViewData["notifications"];

    ViewData["Title"] = "Notifications";
    ViewData["PageName"] = "Notifications";
}

<h1>Notifications</h1>
<br />
<hr />
<ul class="no-margin-ul">
    @foreach (Notification notification in notifications)
    {
        <li onclick="location.href = '@Html.Raw(notification.Link)'" style="list-style: none; margin-left: 50px; margin-right: 50px;">
            <h2>@notification.Title</h2>
            <p>@notification.Content</p>
        </li>
        <hr />
    }
</ul>

<style>
    li:hover {
        cursor: pointer;
    }
</style>