@{
    ViewData["Title"] = "Check your email";
}

<h2>We've sent you an email to verify your email address. Click the link in it to activate your account. Once you've done that, head back here and refresh the page.</h2>