@using System.Web;
@{
    ViewData["Title"] = "Log in";
}

<h1 style="text-align: center;">Log in</h1>
<br />
<form id="login-form" style="text-align: center;" method="post" action="@HttpUtility.UrlEncode((string)ViewData["redirectPath"])">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <br />
    <label for="remember-me">Remember me:</label>
    <input type="checkbox" name="remember-me" id="remember-me" />
    <br />
    <br />
    <button type="button" onclick="loginFormSubmitted()">Log in</button>
</form>

@section Scripts
{
    <script src="~/js/Auth/LogIn.js"></script>
}