@using System.Web;
@{
    ViewData["Title"] = "Log in";
}

<h1>Log in</h1>
<br />
<form id="login-form" method="post" action="@HttpUtility.UrlEncode((string)ViewData["redirectPath"])">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <br />
    <label for="remember-me">Remember me:</label>
    <input type="checkbox" name="remember-me" id="remember-me" />
    <br />
    <br />
    <button type="button" onclick="loginFormSubmitted()">Log in</button>
</form>

@section Styles
{
    <link rel="stylesheet" href="~/css/Auth/LogIn.css" />
}

@section Scripts
{
    <script src="~/js/Auth/LogIn.js"></script>
}