@using System.Web; 
@{ 
    ViewData["Title"] = "Log in";
}

<h1 style="text-align: center;">Log in</h1>
<br />
<form id="login-form" style="text-align: center;" method="post" action="/Auth/LogInPOST?redirect=@HttpUtility.UrlEncode((string)ViewData["redirectPath"])">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <br />
    <label for="remember-me">Remember me:</label>
    <input type="checkbox" name="remember-me" id="remember-me" />
    <br />
    <br />
    <button type="button" onclick="formSubmitted()">Log in</button>
</form>

@section Scripts
{
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyBgcaRD71YU9H8TEnj82iDnkeNuOSXrfcM",
        authDomain: "government-game.firebaseapp.com",
        databaseURL: "https://government-game.firebaseio.com",
        projectId: "government-game",
        storageBucket: "government-game.appspot.com",
        messagingSenderId: "1038258061620",
        appId: "1:1038258061620:web:a2a96589a58a2c9570a561",
        measurementId: "G-EW4LVNGLVK"
    };
    firebase.initializeApp(firebaseConfig)

    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE)

    function formSubmitted() {
        var form = document.getElementById("login-form");

        var idTokenInput = document.createElement("input")
        idTokenInput.setAttribute("name", "idToken")
        idTokenInput.setAttribute("type", "text");
        idTokenInput.style.display = "none"
        firebase.auth().signInWithEmailAndPassword(document.getElementById("email").value, document.getElementById("password").value).then(user => {
            firebase.auth().currentUser.getIdToken().then(idToken => {
                idTokenInput.setAttribute("value", idToken)
                form.appendChild(idTokenInput)
                console.log(idToken)

                form.submit()
            })
        }).catch(error => {
            alert(error.message)
        })
    }
</script>
}