@{ 
    ViewData["Title"] = "Next Steps";
}

<p>If you want to start your very own country, <a href="/Game/CreateACountry">click here</a>. If you want to join an exisiting country and become a minister, browse a <a href="">list of current countries here</a>.</p>
<!--TODO: link to list of countries-->