@{
    ViewData["Title"] = "Register";
}

<h1 style="text-align: center;">Register</h1>
<br />
<form id="register-form" style="text-align: center;" method="post" action="/Auth/RegisterPOST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" />
    <br />
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <br />
    <label for="password-confirm">Password confirm:</label>
    <input type="password" name="password-confirm" id="password-confirm" />
    <br />
    <label for="remember-me">Remember me:</label>
    <input type="checkbox" name="remember-me" id="remember-me" />
    <br />
    <br />
    <button type="button" onclick="formSubmitted()">Register</button>
</form>

@section Scripts
{
    <script src="~/js/Auth/Register.js"></script>
}