header {
    background-color: #708090;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.underline-a:hover {
    color: black;
    text-decoration: underline;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

.no-margin-ul {
    margin: 0;
    padding: 0;
}

hr {
    background-color: black;
}