header {
    background-color: #113044;
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

    a:hover {
        color: white;
        text-decoration: none;
    }

.nav-a {
    color: white;
    text-decoration: none;
}

    .nav-a:hover {
        color: white;
        text-decoration: none;
        background-color: lightslategrey;
    }

main {
    margin-left: 10px;
    margin-right: 10px;
}

.no-margin-ul {
    margin: 0;
    padding: 0;
}

hr {
    background-color: black;
}
