@{
    Layout = "_NoCountryGameLayout";

    PublicUser publicUser = (PublicUser)ViewData["publicUser"];

    ViewData["Title"] = "Home";
    ViewData["PageName"] = "Home";
}

<button onclick="location.href = '/Game/CreateACountry'" style="font-size: xx-large">Create a country</button>
<br />
<br />
<h4>If someone invites you to their country, you will get a <a href="/Game/Notifications">notification.</a></h4>